body {
    margin: 0;
    font-family: 'Smythe', system-ui;;
}

header {
    background-image: url(./images/cover1.webp);
    background-size: cover;
    padding: 2.5em 1.5em 0.4em; 
    color: #fcd557;
    text-shadow: 0 0 6px #111827;
}

.border {
    border-bottom: 2px solid #0e0e0e;
}

h1 {
    margin: 0;
    letter-spacing: 1.5px; 
    font-size: 2.4rem;
}

.sub-title {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 0;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0.3em 0;
    display: flex;
    align-items: center;   
}

ul > li:last-child {
    margin-left: auto;
    margin-right: 2em;
}

.menu-section-link {
    margin-left: 2em;
    font-size: 1.1rem;
    font-weight: bold;
    color: #0e0e0e;
    text-decoration: none;
    letter-spacing: 1.5px;
    cursor: default;
}

#cart-icon {
    width: 20px;
    border: 1px solid red;
    padding: 0.6em;
}

.hover:hover {
    opacity: 0.8;
    cursor: pointer;
}

.menu-section-item {
    display: flex;
    align-items: center;
    padding: 1.2em 1.5em;
    border-bottom: 1px solid #d2d2d2;
}

.menu-item-name {
    margin: 0 0 0.2em;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.menu-item-ingredients,
.menu-item-price {
    margin-top: 0;
    margin-bottom: 0.2em;
    letter-spacing: 0.5px;
}

.menu-item-ingredients {
    color: #8b8b8b;
}

.menu-item-price {
    color: #000;
    font-size: 1.2rem;
}

.menu-item-img {
    width: 50px;
    margin-right: 1em;
}

#add-item-btn {
    color: #3c3c33;
    font-size: 1.1rem;
    background-color: inherit;
    margin-left: auto;
    border: 1px solid #d2d2d2;
    padding: 0.5em 1em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
