* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Smythe', system-ui;
    background-color: #f5f5f5;
}

/* Utility Classes */

.border {
    border-bottom: 2px solid #0e0e0e;
}

.hover:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Layout */

header {
    background-image: url(./images/cover1.jpg);
    background-size: cover;
    padding: 2.5em 1.5em 0.4em; 
    color: #fcd557;
    text-shadow: 0 0 6px #111827;
}

header,
main {
    max-width: 650px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    letter-spacing: 1.5px; 
    font-size: 2.4rem;
}

.sub-title {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 0;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0.3em 0;
    display: flex;
    align-items: center;   
}

ul > li {
    padding: 0.5em;
}

ul > li:last-child {
    margin-left: auto;
    margin-right: 2em;
}

.cart-icon-list-item {
    position: relative;
}

#cart-icon {
    width: 22px;
}

#cart-items-qty {
    display: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fcd557;
    text-align: center;
    color: #0e0e0e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 0.7em;
    letter-spacing: -2px;
    position: absolute;
    top: 0px;
    right: 0;
}

.menu-section-item {
    display: flex;
    align-items: center;
    padding: 1.2em 1.5em;
    border-bottom: 1px solid #d2d2d2;
}

.cart-section-item:last-of-type {
    border-bottom: 2px solid #fcd557;
}

.menu-item-info {
    width: 127px;
}

.menu-item-name {
    margin: 0 0 0.2em;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.menu-item-ingredients,
.menu-item-price {
    margin-top: 0;
    margin-bottom: 0.2em;
    letter-spacing: 0.5px;
}

.menu-item-ingredients {
    color: #8b8b8b;
}

.menu-item-price {
    font-size: 1.2rem;
}

.menu-item-img {
    width: 50px;
    margin-right: 1em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

footer {
    padding-bottom: 1.2em;
    text-align: center;
    color: #fcd557;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-title,
.footer-copyright {
    margin: 0;
}

.footer-title {
    letter-spacing: 0.8px;
    font-size: 1.4rem;
}

.footer-copyright {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}



/* Buttons & Links */

.menu-section-link {
    margin-left: 2em;
    font-size: 1.1rem;
    font-weight: bold;
    color: #0e0e0e;
    text-decoration: none;
    letter-spacing: 1.5px;
    cursor: default;
}

.btn {
    color: #3c3c33;
    background-color: inherit;
    border: 1px solid #d2d2d2;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.add-item-btn {
    font-size: 1.1rem;
    margin-left: auto;
    padding: 0.5em 1em;
}

.btn:hover {
    cursor: pointer;
    background-color: #d2d2d2;
}


/* Cart Section Styling */

.empty-cart-msg {
    border: 4px solid #fcd557;
    padding-bottom: 1.2em;
    background-color: #f5f5f5;
    width: 90%;
    max-width: 300px;
    margin: 4em auto 0;
}

.cart-heading,
.cart-subheading {
    color: #111827;
    text-align: center;
}

.cart-heading {
    letter-spacing: 0.5px;
    margin-bottom: 0;  
}

.cart-subheading {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.qty-bought {
    margin-left: 3.5em;
}

.qty-info {
    margin-left: 1.4em;
}

.total-price-per-item {
    margin-left: auto;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.total-cart-price {
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;
}

.price-title,
.price-amount {
    margin: 0;
    color: #111827;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 1.1rem;
}


#payment-info-modal {
    background-color: #f9fafb;
    width: 95%;
    height: 330px;
    max-width: 350px;
    margin: 0 auto;
    padding: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    top: 0em;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: none;
}

.payment-modal-title,
.close-modal-btn {
    margin: 0;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment-modal-title {
    text-align: center;
    margin-bottom: 1em;
}

.modal-input {
    font-family: inherit;
    color: #757575;
    margin-bottom: 1em;
    padding: 0.8em;
    border: 1px solid #757575;
    border-radius: 3px;
}

.modal-input:focus {
    outline: none;
    border: 2px solid #757575;
}

/* Buttons */

.add-qty-btn,
.sub-qty-btn {
    font-size: 0.6rem;
    width: 25px;
    padding: 0.2em 0.6em;
    margin-right: 0.4em;
}

.remove-btn {
    background-color: inherit;
    color: #3c3c33;
    font-weight: bold;
    background-color: inherit;
    border: none;
    margin-left: 1.4em;
}

.submit-order-btn {
    padding: 1em 1.4em;
    background-color: #16db99;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    margin: 0 auto;
    display: block;
}

.close-modal-btn {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: auto;
}

.close-modal-btn:hover {
    cursor: pointer;
    color: #e11d1d;
}

.pay-btn {
    margin-top: 0.5em;
    padding: 1em 1.4em;
    border: none;
    background-color: #16db99;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.remove-btn:hover,
.submit-order-btn:hover,
.pay-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.final-modal-msg {
    width: 90%;
    margin: 4em auto 0;
    text-align: center;
    background-color: #ecfdf5;
    padding: 1.2em;
}

.final-modal-msg>p {
    margin-top: 0;
    color: #065f46;
}


/* Media- Queries */ 

@media (max-width: 420px) {

    .menu-section-item,
    .total-cart-price {
        padding: 1.2em 0.5em;
    }

    .add-item-btn {
        padding: 0.2em 0.5em;
    }

    .cart-item-img {
        display: none;
    }

    .qty-info,
    .remove-btn {
        margin-left: 0.5em;
    }

    .remove-btn {
        font-size: 0.7rem;
    }

    .total-price-per-item {
        font-size: 0.9rem;
    }

    .cart-item-info {
        width: 110px;
    }

    .cart-item-name,
    .cart-item-price {
        font-size: 1rem;
    }
}

@media (min-width: 330px) {
    .cart-item-img {
        display: block;
        width: 40px;
    }
}

