body {
    margin: 0;
    font-family: 'Smythe', system-ui;;
}

header {
    background-image: url(./images/cover1.webp);
    background-size: cover;
    padding: 2.5em 1.5em 0.4em; 
    color: #fcd557;
    text-shadow: 0 0 6px #111827;
}

.border {
    border-bottom: 2px solid #0e0e0e;
}

h1 {
    margin: 0;
    letter-spacing: 1.5px; 
    font-size: 2.4rem;
}

.sub-title {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 0;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0.3em 0;
    display: flex;
    align-items: center;   
}

ul > li {
    padding: 0.5em;
}

ul > li:last-child {
    margin-left: auto;
    margin-right: 2em;
}

.menu-section-link {
    margin-left: 2em;
    font-size: 1.1rem;
    font-weight: bold;
    color: #0e0e0e;
    text-decoration: none;
    letter-spacing: 1.5px;
    cursor: default;
}

.cart-icon-list-item {
    position: relative;
}

#cart-icon {
    width: 22px;
}

#cart-items-qty {
    display: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fcd557;
    text-align: center;
    color: #0e0e0e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 0.7em;
    letter-spacing: -2px;
    position: absolute;
    top: 0px;
    right: 0;
}

.hover:hover {
    opacity: 0.8;
    cursor: pointer;
}

.menu-section-item {
    display: flex;
    align-items: center;
    padding: 1.2em 1.5em;
    border-bottom: 1px solid #d2d2d2;
}

.cart-section-item:last-of-type {
    border-bottom: 2px solid #fcd557;
}

.menu-item-info {
    width: 127px;
}

.menu-item-name {
    margin: 0 0 0.2em;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.menu-item-ingredients,
.menu-item-price {
    margin-top: 0;
    margin-bottom: 0.2em;
    letter-spacing: 0.5px;
}

.menu-item-ingredients {
    color: #8b8b8b;
}

.menu-item-price {
    color: #000;
    font-size: 1.2rem;
}

.menu-item-img {
    width: 50px;
    margin-right: 1em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.btn {
    color: #3c3c33;
    background-color: inherit;
    border: 1px solid #d2d2d2;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.add-item-btn {
    font-size: 1.1rem;
    margin-left: auto;
    padding: 0.5em 1em;
}

.btn:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}


/* Cart Section Styling */

.empty-cart-msg {
    border: 4px solid #fcd557;
    padding-bottom: 1.2em;
    background-color: #f5f5f5;
    width: 300px;
    margin: 4em auto 0;
}

.cart-heading,
.cart-subheading {
    color: #111827;
    text-align: center;
}

.cart-heading {
    letter-spacing: 0.5px;
    margin-bottom: 0;  
}

.cart-subheading {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.qty-bought {
    margin-left: 3.5em;
}

.qty-info {
    margin-left: 1.4em;
}

.add-qty-btn,
.sub-qty-btn {
    font-size: 0.6rem;
    width: 19px;
    padding: 0.2em 0.6em;
}

.remove-btn {
    background-color: inherit;
    color: #3c3c33;
    font-weight: bold;
    background-color: inherit;
    border: none;
    margin-left: 1.4em;
}   

.total-price-per-item {
    margin-left: auto;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.total-cart-price {
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;
}

.price-title,
.price-amount {
    margin: 0;
    color: #111827;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 1.1rem;
}

.submit-order-btn {
    padding: 1em 1.4em;
    background-color: #16db99;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    margin: 0 auto;
    display: block;
}

.remove-btn:hover,
.submit-order-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Media- Queries */ 

@media (max-width: 420px) {

    .menu-section-item {
        padding: 1.2em 0.5em;
    }

    .add-item-btn {
        padding: 0.2em 0.5em;
    }

    .cart-item-img {
        display: none;
    }

    .qty-info,
    .remove-btn {
        margin-left: 0.5em;
    }

    .cart-item-info {
        width: 110px;
    }

    .cart-item-name,
    .cart-item-price {
        font-size: 1rem;
    }
}